/* css for the main div  */
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* css for the body  */
body {
  margin: 0px;
  padding: 0px;
  background-blend-mode: multiply;
  background-size: cover;
  color: rgb(255, 255, 255);
}
/* display movie details */
#movie-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
/* individual movie related css  */
.each-movie-page {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
}
/* movie poster class css  */
.movie-poster {
  margin: 0px 20px;
  height: 95%;
  width: 50vh;
}
/* movie image  */
.movie-poster img {
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 10px 18px 18px 10px rgba(75, 74, 74, 0.2);
  transition: 0.3s;
  margin: auto;
}
.movie-poster img:hover {
  box-shadow: 0 28px 9px 0 rgba(78, 78, 78, 0.338);
}
.movie-duration i {
  color: rgb(248, 255, 215);
}
.release-date i {
  color: rgb(248, 255, 215);
}
.movie-details > * {
  margin: 10px 50px;
  font-size: 1.4rem;
}
/* movie name */
.title {
  color: #fffff9;
  /* color: #fff; */
  font-size: 3rem;
  font-weight: bolder;
}
.release_date,
.movie-duration {
  padding-right: 50px;
}
/* youtube video div  */
.trailer-div {
  color: #ffffff96;
}

/* back button  */
#return-to-home {
  /* top: 30px; */
  left: 30px;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
}
#return-to-home:hover {
  color: black;
  /* font-size: 2.2rem; */
  background-color: #fff;
  border: 1px solid black;
}
/* details of the movie */
.plot {
  color: bisque;
  font-size: 1.2rem;
}
/* frame of movie video css  */

#search-icon a {
  color: #fff;
  cursor: pointer;
}
/* responsiveness and media queries */
@media screen and (max-width: 1620px) {
  #movie-display {
    width: 90vw;
  }
}
/* when the screen size is 1200 and less  */
@media screen and (max-width: 1200px) {
  #movie-display {
    width: 95vw;
  }
}
/* when the screen size is 1000 and less  */
@media screen and (max-width: 1000px) {
  .movie-poster {
    height: 85%;
  }
}
/* when the screen size is 900 and less  */
@media screen and (max-width: 900px) {
  #movie-display {
    margin: auto;
  }
  .each-movie-page {
    display: flex;
    flex-direction: column;
  }
  .movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plot {
    text-align: justify;
  }
  .movie-poster {
    height: 80%;
  }
  .title {
    text-align: center;
  }
}
/* when the screen size is 600 and less  */
@media screen and (max-width: 600px) {
  .movie-details > * {
    font-size: 1.2rem;
    margin: 15px 10px;
  }
  .title {
    font-size: 3rem;
  }
  .movie-poster {
    height: 65%;
  }
  .each-movie-page {
    padding-top: 100px;
  }
  iframe {
    width: 451.5px;
    height: 254px;
  }
}
/* when the screen size is 530 and less  */
@media screen and (max-width: 530px) {
  .movie-details > * {
    font-size: 1.2rem;
    margin: 12px 10px;
  }
  .title {
    font-size: 3rem;
  }
  .movie-poster {
    height: 60%;
  }
  iframe {
    width: 400px;
    height: 225px;
  }
}
/* when the screen size is 470 and less  */
@media screen and (max-width: 470px) {
  .movie-details > * {
    font-size: 1.2rem;
    margin: 10px 10px;
  }
  .title {
    font-size: 2rem;
  }
  .movie-poster {
    height: 50%;
  }
  iframe {
    width: 355.5px;
    height: 200px;
  }
}
/* when the screen size is 400 and less  */
@media screen and (max-width: 400px) {
  iframe {
    width: 300px;
    height: 168.75x;
  }
}
